
services:
  postgres:
    image: postgres:15
    container_name: nest-postgres
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - nest_pg_data:/var/lib/postgresql/data

volumes:
  nest_pg_data:
